<script type="text/javascript">
  function openFirstTab(evt, tabName, tabClass) {
    openTab(evt, tabName);
    var firstTab = document.getElementsByClassName(tabClass);
    firstTab[0].className += " active";
  }

  function openTab(evt, tabName) {
    // Declare all variables
    let i, tabContent, tabLinks;

    // Get all elements with class="tabContent" and hide them
    tabContent = document.getElementsByClassName("tabContent");
    for (i = 0; i < tabContent.length; i++) {
      tabContent[i].style.display = "none";
    }

    // Get all elements with class="tabLinks" and remove the class "active"
    tabLinks = document.getElementsByClassName("tabLinks");
    for (i = 0; i < tabLinks.length; i++) {
      tabLinks[i].className = tabLinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " active";
  }

  function openDropdown(evt, dropdownId) {
    let targetDropdown;
    if (dropdownId === 'communityDiscussion') {
      targetDropdown = document.getElementsByClassName("comments");
      targetDropdown[0].style.display = "block";
    }
    if (dropdownId === 'recommendedResources') {
      targetDropdown = document.getElementsByClassName("recommendedResourcesContent");
      targetDropdown[0].style.display = "block";
    }
  }


</script>

<!-- Tab links -->
<div class="tab">
  <button class="tabLinks overview" onclick="openTab(event, 'overview')">Overview</button>
  <button class="tablinks transcript" onclick="openTab(event, 'transcript')">Transcript</button>
  <button class="tablinks audio" onclick="openTab(event, 'audio')">Audio</button>
</div>

<!-- Tab content -->
<div id="overview" class="tabContent">
  <h3 class="tabTitle">Overview</h3>
  <p>This is the lesson overview</p>
</div>

<div id="transcript" class="tabContent">
  <h3 class="tabTitle">Transcript</h3>
  <p>Download the transcript in PDF form.</p>
  <a class="downloadBtn" data-cpl-tooltip="Download the transcript in PDF form."
     data-vpl-tooltip="Download the transcript in PDF form."
     href="https://static.wixstatic.com/media/3b5b38_0353e4564873495ca83314f8ac01c6c3~mv2.png"
     id="download_transcript_button" role="button">
    <span class="nav-text">Download Transcript</span>
  </a>
</div>

<div id="audio" class="tabContent">
  <h3 class="tabTitle">Audio</h3>
  <p>Download the audio in MP3 format.</p>
  <a class="downloadBtn" data-cpl-tooltip="Download the audio in MP3 format."
     data-vpl-tooltip="Download the audio in MP3 format."
     href="https://static.wixstatic.com/mp3/3b5b38_fa90eba9218b4e2aa0f41f00444c565d.mp3" id="download_audio_button"
     role="button">
    <span class="nav-text">Download Audio</span>
  </a>
</div>

<body onload="openFirstTab(event, 'overview', 'tablinks overview')">

<div id="recommendedResources" class="dropdownSection">
  <div class="dropdownTitle">
    <button class="dropdownLinks recommendedResources" onclick="openDropdown(event, 'recommendedResources')">
      Recommended Resources ▼
    </button>
  </div>
  <div class="dropdownContent recommendedResourcesContent">
    <ul>
      <li class="dropdownLink"><a
        href="https://static.wixstatic.com/media/3b5b38_96fd7c3f9f19421985f27eb6d65a81b3~mv2.png">Company
        Research Worksheet</a></li>
    </ul>
  </div>
</div>

<div id="communityDiscussion" class="dropdownSection">
  <div class="dropdownTitle">
    <button class="dropdownLinks communityDiscussion" onclick="openDropdown(event, 'communityDiscussion')">Community
      Discussion ▼
    </button>
  </div>
</div>